:root {
	--dark_green: rgb(0, 61, 0);
	--dark_green_op: rgb(0, 61, 0, 0.5);
	--light_green: rgb(181, 255, 181);
}

* {
	font-family: 'Times New Roman', Times, serif;
}

html{
	background: var(--dark_green_op);
}

/*Formatting for the index page*/

.main_box{
	width: 40%;
	height: 300px;
	background-color: var(--dark_green_op);
	margin: auto;

	color: white;
	text-align: center;	
	border-radius: 20px;

	display: grid;
	grid-template-columns: auto;
}

.enter_name{
	margin: 1px auto 1px auto;
	width: 150px;
	height: 30px;
	font-size: 20px;
}

.room{
	margin: 1px auto 1px auto;
	width:150px;
	height: 30px;
	font-size: 20px;
}

.submit_btn{
	width:150px;
	height: 30px;
	cursor: pointer;
	padding: 5px 15px;
	margin: 1px auto 1px auto;
	font-size: 20px;
}


/*Formatting for the chat page*/

.container{
	width: 1000px;
	height: 600px;
	background-color: var(--dark_green_op);
	margin: auto;
	position: relative;

	color: white;
	text-align: center;	
	border-radius: 20px;
}

.chat-grid{
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.btn {
	background-color: var(--light_green);
	border-radius: 5px;
	border-width: 0cm;
	width: 60px;
	height: 25px;
	font-size: 20px;
}

.chat-input{
	background-color: var(--dark_green);
	border-radius: 5px;
	border-width: 1px;
	border-color: white;
	color: white;
	width: 690px;
	height: 25px;
	font-size: 20px;
}

.form-container{
	position: absolute;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.chat-messages{
	padding: 30px;
	max-height: 450px;
	overflow-y: scroll;
}

.message{
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	color: var(--dark_green);
	width: 350px;
	height: 80px;
	text-align: left;
	margin-bottom: 10px;
}

.user_message{
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	color: var(--dark_green);
	width: 350px;
	height: 80px;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 300px;
}

.time_name{
	display: grid;
	grid-template-columns: auto auto;
}

.time{
	text-align: left;
	margin: 0;
	font-size: 20px;
	font-weight: bolder;
}

.name{
	text-align: right;
	margin: 0;
	font-size: 20px;
}

.text{
	font-size: 20px;
	line-height: 0;
}